-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => if @title_header == "hilite" then "hilite" end}= link_to 'Movies', movies_path(:sort_by => 'title')
      // %th{:class => ("hilite" if params[:sort_by] == 'title')}= link_to 'Movies', movies_path(:sort_by => 'title')  
      %th Rating
      %th{:class => ("hilite" if params[:sort_by] == 'release_date')}= link_to 'Release Date', movies_path(:sort_by => 'release_date')
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
= link_to 'Update an existing movie', update_existing_path
= link_to 'Delete by Title', destroy_by_title_path
= link_to 'Delete by Rating', destroy_by_rating_path