%h1 Edit Existing Movie

= form_tag update_existing_path, :method => :put do
  = label :movie, :title, 'Search for existing Title'
  = text_field :movie, 'title_old'
  
  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date

  = submit_tag 'Update Movie Info'
